STANDARD_USER="your_standard_user"
LOCKED_OUT_USER="your_locked_out_user"
PROBLEM_USER="your_problem_user"
PERFORMANCE_GLITCH_USER="your_performance_glitch_user"
ERROR_USER="your_error_user"
VISUAL_USER="your_visual_user"
PASSWORD="your_secret_sauce"